* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif, cursive;
    background-color: #f9f9f9;
    color: #333;
    background-image: url('tapeedi-taust.jpg');
    background-size: cover;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    text-align: left;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.gallery, .info {
    width: 45%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery h2, .map h2 {
    font-family: 'Cursive', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.slideshow img {
    width: 500px;
    height: 400px;
    display: none;
}

.map p {
    text-align: center;
    margin: 10px 0;
}
